/* Transaction Style */

.transaction {
    flex: 4;
    padding: 20px;
}

.transactionImg {
    width: 160vh;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
}

/* Transaction Style */