/* New Product Style */

.newProduct {
    flex: 4;
    padding: 20px;
}

.addProductTitle {

}

.addProductForm {
    margin-top: 10px;
}

.addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addProductItem > input {
    padding: 10px;
}

.addProductItem > select {
    padding: 10px;
}

.addProductButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    background-color: darkblue;
    cursor: pointer;
    font-weight: 600;
}

/* New Product Style */