/* New Product Style */

.newProduct {
    flex: 4;
    padding: 20px;
}

.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productTitle {
    font-weight: 600;
}

.productAddButton {
    width: 80px;
    border: none;
    outline: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.productTop {
    display: flex;
}

.productTopLeft,
.productTopRight {
    flex: 1;
}

.productTopRight {
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0 0 8px -1px #b6afaf;
    box-shadow: 0 0 11px -1px #b6afaf;
}

.productInfoTop {

}

.productInfoImg {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.productName {

}

.productBottom {

}

.productInfoItem {

}

.productInfoKey {

}

.productInfoValue {

}

/* New Product Style */